<template>
  <div id="app">
    <img src="./assets/logo.png" v-shortkey="shortkey.test1" @shortkey="theAction()" v-hotkey="false">
		<h3>{{shortkey.test1 ? shortkey.test1 : '&nbsp;'}}</h3>
		<button type="button" @click="addHotkey">Set Shortkey</button>
		<input type="text" v-hotkey="true"/>
		<input type="text" v-hotkey="true"/>
		<popup-hotkey :tick="createHotKey" @onclose="closeHotkey" @callback="receiveHotkey" />
    <router-view/>
  </div>
</template>

<script>
import store from './store'
import keycode from 'keycode'
export default {
	name: 'App',
	data () {
		return {
			createHotKey: false
		}
	},
	computed: {
    shortkey () {
      return store.state.hotkey.shortkey
    }
  },
	methods: {
		theAction () {
			alert('Shortkey working')
		},
		addHotkey () {
			this.createHotKey = true
		},
		closeHotkey (hotkey) {
			this.createHotKey = false
			store.dispatch('replacehotkey', hotkey)
		},
		receiveHotkey (hotkey) {
			this.createHotKey = false
			store.dispatch('hotkey', {
				key: 'test1',
				value: hotkey
			})
		}
	}
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.hotkey-backdrop {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.8)
}

.hotkey {
	position: absolute;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
	width: 14rem;
	height: 1rem;
	padding: 1rem;
	background: #fff;
	border-radius: 0.5rem;
}

.hotkey .cancel {
	position: absolute;
	top: -1rem;
	right: -0.5rem;
	z-index: 1;
	background: #ccc;
	border-radius: 50%;
	width: 1.5rem;
	height: 1.5rem;
	cursor: pointer;
}

.hotkey span {
	color: rgba(80, 80, 80, 0.5);
}

.hotkey .cancel span {
	position: absolute;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
	color: #000;
	cursor: pointer;
}
</style>
