<template>
	<div v-if="createHotKey" class="hotkey-backdrop" v-hotkey="'create'">
		<div class="hotkey">
			<div class="cancel" @click="cancelHotKey">
				<span>X</span>
			</div>
			<span>Enter your shortkey</span>
		</div>
	</div>
</template>

<script>
import keycode from 'keycode'
export default {
	name: 'popup-hotkey',
	props: {
		tick: {
			type: Boolean,
			required: true
		},
		callback: {
			type: Function,
			default: () => {}
		},
		onclose: {
			type: Function,
			default: () => {}
		}
	},
	data () {
		return {
			createHotKey: false,
			tempHotkey: null
		}
	},
	created () {
		this.createHotKey = this.tick
	},
	watch: {
		tick (value) {
			if (value) {
				this.tempHotkey = Object.assign({}, this.$store.state.hotkey.shortkey)
				this.addHotkey()
			} else {
				this.removeHotKey()
			}
		}
	},
	methods: {
		addHotkey () {
			window.addEventListener("keydown", this.blockHotKey)
			window.addEventListener("keyup", this.receiveHotKey)
			window.addEventListener("beforeunload", this.blockCloseWindow)
			this.createHotKey = true
		},
		removeHotKey() {
			window.removeEventListener("keydown", this.blockHotKey)
			window.removeEventListener("keyup", this.receiveHotKey)
			window.removeEventListener("beforeunload", this.blockCloseWindow)
			this.createHotKey = false
		},
		cancelHotKey() {
			this.removeHotKey()
			this.$emit('onclose', this.tempHotkey)
		},
		blockCloseWindow(e) {
			e.returnValue = "Can not override ctrl + w, alt + f4 or ctrl + f4."
		},
		receiveHotKey (e) {
			let keyCode = e.keyCode
			let hotkey = []
			let keyChar = keycode(keyCode)
			let regex = /^([a-z|0-9]{1,1}|([f0-9]){2,3}|esc|tab|insert|del|enter|space|home|end|\.|\/|\,|\]|\[|\;|\*|\+|\-|\\|\=|\`|\')$/
			if (keyChar === 'right') {
				keyChar = 'arrow' + keyChar
			} else if (keyChar === 'left') {
				keyChar = 'arrow' + keyChar
			} else if (keyChar === 'up') {
				keyChar = 'arrow' + keyChar
			} else if (keyChar === 'down') {
				keyChar = 'arrow' + keyChar
			} else if (keyChar === 'pause/break') {
				keyChar = 'pause'
			} else if (keyChar === 'delete') {
				keyChar = 'del'
			} else if (keyChar === 'left command') {
				keyChar = 'meta'
			} else if (keyChar === 'right command') {
				keyChar = 'contextmenu'
			} else if (keyChar.startsWith('numpad')) {
				keyChar = keyChar.replace('numpad ', '')
			} else if (keyChar.indexOf(' ') > 0) {
				keyChar = keyChar.replace(' ', '')
			} else {
				if (!regex.test(keyChar)) {
					alert('Invalid key.')
					return
				}
			}
			if (e.ctrlKey) {
				hotkey.push('ctrl')
			}
			if (e.altKey) {
				hotkey.push('alt')
			}
			if (e.shiftKey) {
				hotkey.push('shift')
			}
			hotkey.push(keyChar)
			this.$emit('callback', hotkey)
			this.removeHotKey()
			e.preventDefault()
			e.stopPropagation()
			return false
		},
		blockHotKey (e) {
			e.preventDefault()
			e.stopPropagation()
			return false
		}
	}
}
</script>

<style scoped>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.hotkey-backdrop {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.8)
}

.hotkey {
	position: absolute;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
	width: 14rem;
	height: 1rem;
	padding: 1rem;
	background: #fff;
	border-radius: 0.5rem;
}

.hotkey .cancel {
	position: absolute;
	top: -1rem;
	right: -0.5rem;
	z-index: 1;
	background: #ccc;
	border-radius: 50%;
	width: 1.5rem;
	height: 1.5rem;
	cursor: pointer;
}

.hotkey span {
	color: rgba(80, 80, 80, 0.5);
}

.hotkey .cancel span {
	position: absolute;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
	color: #000;
	cursor: pointer;
}
</style>
